body 
{
    background-color: #E0E0E0 ;
}

#searchbardiv
{
    position:relative;
}

#searchbar, #search_button
{
    float:left;
}

#search_button
{
    color: #A0A0A0;
    background-color: transparent;
    margin-top: 5px;
    margin-left: 20px;
    text-decoration: none;
}

#search_button:hover
{
    color:white;
}

.navbar-left
{
    position:relative;
    margin-left: 25%;
}

#logocontainer
{
    margin-top: 2.5%;
    height: 90%;
    float:left;
    padding-left: 10px;
}

#menucontainer, #logocontainer
{
    float:left;
}

#menucontainer
{
    float:left;
    padding-top: 3%;
    background-color: #222;
    color:white;
    /*border: 1px solid white;*/
}

#logo
{
    height: inherit;
    border-radius: 10px;
    box-shadow: none;
}

.navbar-header
{
    position: relative;
    height: 50px;
    width: 9%;
    overflow: hidden;
}

#showLeftPush:focus {outline:none;} ::-moz-focus-inner {border:0;}
#showLeftPush
{
    width:40%;
    background-color: #222;
}

#showLeftPush:hover
{
    color: #47a3da;
}

#rightHandSideButtons
{
    float: right;
}

#usersmallpanel:hover,#groupsmallpanel:hover
{
    -webkit-box-shadow: inset 0px 0px 11px 0px rgba(50, 50, 160, 0.89);
    -moz-box-shadow:    inset 0px 0px 11px 0px rgba(50, 50, 160, 0.89);
    box-shadow:         inset 0px 0px 11px 0px rgba(50, 50, 160, 0.89);
}


#userbody ,#usergroup
{
    padding: 0px;
}

#grouppanel,#userpanel
{
    margin-bottom: 0px;
}

#showAllResults
{
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: #f2dede;
    border-radius: 5px;
}

#usersmallpanel,#groupsmallpanel
{
    z-index: 10;
    position: relative;
    background-color: white;
    width:100%;
    height:100px; 
    padding:20px;
    margin-bottom: 1px; 
}

#groupsmallpanel
{
    line-height: 4em;
}

#showRightPush
{
    position: relative;
    float: right;
}


#searchbar
{
    width:400px;    
}

header
{
    overflow: hidden;
    position: fixed;
}

#results-box
{
    position: absolute;
    width:400px;
    z-index:9;
    background-color: #F8F8F8 ;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 22px 0px rgba(50, 50, 50, 0.63);
    -moz-box-shadow:    5px 5px 22px 0px rgba(50, 50, 50, 0.63);
    box-shadow:         5px 5px 22px 0px rgba(50, 50, 50, 0.63);
}

.navbar
{
    position: relative;
    max-height: 20%;
    width: 100%;
    -webkit-box-shadow: -1px -1px 26px 0px rgba(50, 50, 50, 0.53);
    -moz-box-shadow:    -1px -1px 26px 0px rgba(50, 50, 50, 0.53);
    box-shadow:         -1px -1px 26px 0px rgba(50, 50, 50, 0.53);
}

#showAllResults
{
    border: 2px;
    width:100%;
}

.showUserResults
{
    background-color: white;
}

.showGroupResults
{
    background-color: white;
}



/* General styles for all menus */
 
.cbp-spmenu {
    background: #47a3da;
    position: fixed;
}
 
.cbp-spmenu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
}
 
.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}
 
.cbp-spmenu a:hover {
    background: #258ecd;
}
 
.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}
 
/* Orientation-dependent styles for the content of the menu */
 
.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
}
 
.cbp-spmenu-vertical a {
    border-bottom: 1px solid #258ecd;
    padding: 1em;
}
 
.cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}
 
.cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
}
 
.cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}
 
/* Vertical menu that slides from the left or right */
 
.cbp-spmenu-left {
    left: -240px;
}
 
.cbp-spmenu-right {
    right: -240px;
}
 
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}
 
.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}
 
/* Horizontal menu that slides from the top or bottom */
 
.cbp-spmenu-top {
    top: -150px;
}
 
.cbp-spmenu-bottom {
    bottom: -150px;
}
 
.cbp-spmenu-top.cbp-spmenu-open {
    top: 0px;
}
 
.cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
}
 
/* Push classes applied to the body */
 
.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
 
.cbp-spmenu-push-toright {
    left: 240px;
}
 
.cbp-spmenu-push-toleft {
    left: -240px;
}
 
/* Transitions */
 
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
 
/* Example media queries */
 
@media screen and (max-width: 55.1875em){
 
    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }
 
    .cbp-spmenu-top {
        top: -110px;
    }
 
    .cbp-spmenu-bottom {
        bottom: -110px;
    }
 
}
 
@media screen and (max-height: 26.375em){
 
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }
 
    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }
 
    .cbp-spmenu-right {
        right: -190px;
    }
 
    .cbp-spmenu-push-toright {
        left: 190px;
    }
}
