html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 5%;
    background: white;
    position: fixed;
    top: 0;
    border-style: solid;
}
#content {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    padding: 10% 0;
    border-style: solid;
}
footer {
    width: 100%;
    height: 5%;
    background: white;
    position: fixed;
    bottom: 0;
    border-style: solid;
}
.header_elements {
    width: 33%;
    height: 100%;
    border: 1px solid red;
    float: left
}
#search_button {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    left: -22px;
    top: 3px;
    background-color: red;
  }
#foobook_menu .foobook_dropdown .option_menu {
	position: absolute;
	z-index: 100;
	display: none;
	background: #fff;
}
#foobook_menu .foobook_dropdown:hover .option_menu {
	display: block;
}
#foobook_menu .foobook_dropdown.show .option_menu {
	display: block;
}
.foobook_dropdown {
    width: 100%;
    height: 100%;
    border: 1px solid blue;
}
.option_menu {
    width: 32.9%;
    border: 1px solid green;
    position: absolute;
    top: 101%;
}
#settings_menu .settings_dropdown .option_menu {
    position: absolute;
	z-index: 100;
	display: none;
	background: #fff;
}
#settings_menu .settings_dropdown:hover .option_menu {
    display: block;
}
#settings_menu .settings_dropdown.show .option_menu {
	display: block;
}
.settings_dropdown {
    width: 100%;
    height: 100%;
    border: 1px solid blue;
}