.all-people, .all-group
{
	float:left; 
	border: 1px solid black; 
	width:100%;
	padding: 10px;
}

.all-group
{
	margin-top: 10px;
}

.all-users, .all-groups
{
    /*overflow: auto;*/
    position: relative;
    background-color: white;
    width:100%;
    height:100px; 
    padding:20px;
    margin-bottom: 1px; 
    /*margin-top:-1px;*/
}

.all-users:hover, .all-groups:hover
{
	-webkit-box-shadow: inset 0px 0px 11px 0px rgba(50, 50, 160, 0.89);
    -moz-box-shadow:   	inset 0px 0px 11px 0px rgba(50, 50, 160, 0.89);
    box-shadow:        	inset 0px 0px 11px 0px rgba(50, 50, 160, 0.89);
}

img 
{
	width:50px; 
	height:50px; 
	float:left; 
	margin-right:6px;
}

a
{
	color: black;
}