#profile_details
{
	width: 20%;
	height: 100%;
	margin-top: 50px;
	-webkit-box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.29);
	-moz-box-shadow:    4px 4px 3px 0px rgba(50, 50, 50, 0.29);
	box-shadow:         4px 4px 3px 0px rgba(50, 50, 50, 0.29);
}

#profile_details > .panel-heading
{
	text-align: center;
}

#profile_picture_container
{
	width: 100%;
	height: auto;
	margin-top: 10px;
}

#profile_picture_image
{
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	-webkit-box-shadow: 4px 4px 12px 0px rgba(50, 50, 50, 0.36);
	-moz-box-shadow:    4px 4px 12px 0px rgba(50, 50, 50, 0.36);
	box-shadow:         4px 4px 12px 0px rgba(50, 50, 50, 0.36);
}

#profile_text_details > div
{
	margin-top: 20px;
}