/*Main elements slyling!*/

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;    
}
.inner_wrapper_content{
/*    border: 3px solid green;*/
    position: relative;
    overflow: hidden;
    height: inherit;
    width: inherit;
}

/*Thread elements styling!*/

.left_sidebar_thread, .content {
    float: left; 
}
.left_sidebar_thread {
    height: 100%;
    width: 30%;
    border: 2px solid blue;
}
.threads {
    max-height: 100%;
    width: 105.5%;
    border: 1px solid green;
    overflow: auto;
    z-index: -1;
}
.thread_elements {
    border: 1px solid orange;
    height: 100px;
}
.thread_picture {
    width: 80px;
    height: 80px;
    border-radius: 20%;
    background-color: blue;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}
.thread_name {
    height: 50%;
    width: 50%;
    float: left;
    align-content: center;
    margin-left: 25px;
    margin-top: 25px;
}

/*Content elements styling!*/

.content {     
    width: 69.3%;
    height: 100%;
    border: 1px solid red;
    z-index: 1;
    background-color: white;
}
.content_wrapper {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    border: 1px solid green;
}

/*Participants subsection of content!*/

.participants_wrapper {
    height: 10%;
/*    border: 1px solid black;*/
}
.participants {
    max-height: 100%;
    width: 102.5%;
    min-height: 85px;
/*    border: 1px solid black;*/
    overflow: auto;   
}
.participants_input_wrapper, .participants_container {
    float: left;
}
.participants_input_wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid red;
}
#participant_to {
    float: left; 
    align-content: center;
    margin-left: 15px;
}
.participants_container {
    min-height: 20%;
    min-width: 20%;
    border: 1px solid blue;
    float: left;
    margin-left: 1%;
}
/*
.participant_name { 
    width: 20%;
    height: 50%;
    background-color: red;
    float: left;
    margin-top: 1.25%;
    margin-left: 0.5%;
}
*/

/*Messages subsection of content!*/

.messages {
    height: 63%;
/*    border: 1px solid blue;*/
    background-color: white;
}
.inner_wrap_messages {
    max-height: 100%;
    width: 102.5%;
    border: 1px solid green;
    overflow: auto;
}
.sender_message {
    width: 95%;
    min-height: 25%;
/*    border: 1px solid blue;*/
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
.sender_pic {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 100%;
    float: left;
    margin-top: 0px;
}
.message_body_sender {
    width: 90%;
    height: auto;
    border: 1px solid green;
    float: left; 
    margin-left: 10px;
    margin-bottom: 10px;
}
.user_message {
    width: 95%;
    min-height: 25%;
/*    border: 1px solid red;*/
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
.user_pic {
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 100%;
    float: right;
    margin-top: 0px;
}
.message_body_user {
    width: 90%;
    height: auto;
    border: 1px solid green;
    float: right; 
    margin-right: 10px;
    margin-bottom: 10px;
}
.input_area {
    width: 100%;
    height: 25%;
    border: 1px solid red;
}
.message_wrapper {
    height: 80%;
    width: 100%;
    border: 2px solid blue;
}
#textbox_id {
    width: 98%;
    height: 70%;
    border: 1px solid red;
    float: left;
    overflow: auto;
    margin-left: 20px;
    margin-top: 15px; 
}
#reply_button {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

