.entity
{
	text-decoration: none;
	color: blue;
}

/* Post css */

.post
{
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid black;
    background-color: white;
}

.details
{
	position: relative;
	padding: 20px 0px 20px 20px;
	overflow: hidden;
}

.sender_picture_container, .from_to_details
{
	float: left;
}

.sender_picture_container
{
	height: 100px;
	width: 100px;
	overflow: hidden;
}

.sender_picture
{
	height: 100px;
	width: 100px;
	border: 1px solid black;
}

.from_to_details
{
	position: relative;
	margin-left: 20px;
}

.sender_name, .to, .recipient_name
{
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.to
{
	margin-left: 5px;
	margin-right: 5px;
}

.content
{
	padding: 0px 20px 0px 20px;
}

.message_string
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.uploaded_picture_container
{
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
}

.uploaded_picture
{
	display: block;
	margin: 0 auto;
	border: 1px solid black;
}