.post
{
	position: relative;
	min-height: 200px;
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid black;
}

.senderPictureContainer
{
	position: absolute;
	height: 160px;
	width: 160px;
	margin-left: 20px;
	border: 1px solid black;
}

.senderPicture
{
	position: absolute;
	height: 160px;
	width: 160px;
}

.messageContents
{
	position: relative;
	min-height: 160px;
	margin-left: 200px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid transparent;
}

.fromToDetails
{
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
	border: 1px solid transparent;
}

.entityName
{
	text-decoration: none;
	color: blue;
}

.senderName, .to, .recipientName
{
	float: left;
}

.to
{
	margin-left: 5px;
	margin-right: 5px;
}

.messageString
{
	position: relative;
	margin-bottom: 20px;
	border: 1px solid transparent;
}

.uploadedPictureContainer
{
	position: relative;
	margin-bottom: 40px;
	overflow: hidden;
	border: 1px solid transparent;
}

.uploadedPicture
{
	display: block;
	margin: 0 auto;
	border: 1px solid black;
}

.timestamp
{
	position: absolute;
	bottom: 0;
	right: 0;
	border: 1px solid transparent;
}