/*Main elements slyling!*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border: 1px solid blue;
}
.header {
    width: 100%;
    height: 5%;
    background: white;
    position: fixed;
    top: 0;
    border-style: solid;
}
.footer {
    width: 100%;
    height: 5%;
    background: white;
    position: fixed;
    bottom: 0;
    border: 1px solid green;
    background-color: yellow;
}
.header_elements {
    width: 33%;
    height: 100%;
    border: 1px solid red;
    float: left
}
.inner_wrapper{
    margin: 0 auto;
    padding: 2.5% 0 ;
/*    overflow: hidden; */
    height: 100%;    
    border: 1px solid red;
}
.content {     
    width: 79.2%;
    height: 100%;
    margin-left: 20.2%;
    margin-right: 20%;
    border: 3px solid red;
    float: left;
    overflow: hidden;
}
.left_sidebar {
    border: 2px solid blue;
    float: left;
    width: 20%;
    height: 100%;
/*    overflow: hidden;*/
    left: 0px;
    position: fixed;
    background-color: green;
    z-index: -1;
}

/*Styling of the header elements!*/
#search_button {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    left: -22px;
    top: 3px;
    background-color: red;
  }
#foobook_menu .foobook_dropdown .option_menu {
	position: absolute;
	z-index: 100;
	display: none;
	background: #fff;
}
#foobook_menu .foobook_dropdown:hover .option_menu {
	display: block;
}
#foobook_menu .foobook_dropdown.show .option_menu {
	display: block;
}
.foobook_dropdown {
    width: 100%;
    height: 100%;
    border: 1px solid blue;
}
.option_menu {
    width: 32.9%;
    border: 1px solid green;
    position: absolute;
    top: 101%;
}
#settings_menu .settings_dropdown .option_menu {
    position: absolute;
	z-index: 100;
	display: none;
	background: #fff;
}
#settings_menu .settings_dropdown:hover .option_menu {
    display: block;
}
#settings_menu .settings_dropdown.show .option_menu {
	display: block;
}
.settings_dropdown {
    width: 100%;
    height: 100%;
    border: 1px solid blue;
}

/*Content elements styling!*/
.activity {
    width: 101%;
    height: 100%;
    margin: 0 auto;
    padding: 0 0;
    border: 3px solid green;
    overflow-y: scroll;
}
.activity_elements {
    width: 100%;
    height: 25%;
    float: left;
    border: 1px solid orange;
}

/*Sidebar elements styling!*/

#profile_picture {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    height: 20%;
    width: 50%;
    border: 1px solid red;
    background-color: yellow;
/*    border-radius: 100%*/
}
#name {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    height: 5%;
    width: 50%;
    border: 1px solid red;
    background-color: white;
}
#DOB {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    height: 5%;
    width: 50%;
    border: 1px solid red;
    background-color: white;
}
#education {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    height: 5%;
    width: 50%;
    border: 1px solid red;
    background-color: white;
}
#gender {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    height: 5%;
    width: 50%;
    border: 1px solid red;
    background-color: white;
}
#employer {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    height: 5%;
    width: 50%;
    border: 1px solid red;
    background-color: white;
}