#wallPostForm
{
    border: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 10px 0px 10px;
    background-color: white;
}

#wallPostForm > textarea
{
    width: 100%;
    height: 150px;
    padding:10px;
    resize: vertical;
    border-style: none none none none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.postLinks
{
    border-style: dashed none none none;
    border-color: black;
    border-width: 1px;
}

button.link
{
    background: none;
    border: none;
    color: blue;
}

#photoFile
{
    visibility: hidden;
}

#postThis
{
    float: right;
}