.container
{
	padding-bottom: 50px;
}

.message, .commentForm
{
	-webkit-box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.29);
	-moz-box-shadow:    4px 4px 3px 0px rgba(50, 50, 50, 0.29);
	box-shadow:         4px 4px 3px 0px rgba(50, 50, 50, 0.29);
	border: 0px;
	border-radius: 5px;
}

.commentForm
{
	background-color: #D8D8D8;
}

.message_sender_picture_container
{
	background-color:transparent;
	border: 0px;
}