.messageForm
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px 10px 0px 10px;
    background-color: white;
    -webkit-box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.29);
    -moz-box-shadow:    4px 4px 3px 0px rgba(50, 50, 50, 0.29);
    box-shadow:         4px 4px 3px 0px rgba(50, 50, 50, 0.29);
    border-radius: 5px;
    border: 1px solid #C0C0C0 ;
}

.messageFormText
{
    width: 100%;
    height: 150px;
    padding:10px;
    resize: vertical;
    border-style: none none none none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.messageFormLinks
{
    position: relative;
    padding: 5px 0px;
    border-style: dashed none none none;
    border-color: black;
    border-width: 1px;
    overflow: hidden;
}

.messageFormUploadPictureButton, .messageFormPicture, .messageFormPictureName, .messageFormSubmitButton
{
    float: left;
}

.messageFormSubmitButton
{
    float: right;
}

.messageFormPicture
{
    visibility: hidden;
}

/* For comments */

.commentForm
{
    width: 80%;
    margin-left: 10%;
    padding: 10px 10px 0px 10px;
    border: 1px solid #C0C0C0 ;
    border-top: none;
    background-color: #F8F8F8 ;
}

.commentFormText
{
    width: 100%;
    padding: 10px 0px 0px 10px;
    resize: vertical;
    border-style: none none none none;
    border: 1px solid #C0C0C0 ;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}